#country-title {
    text-align: center;
    font-weight: 800;
    border-top: solid thin;
    border-bottom: solid thin;
    background-color: rgb(244, 244, 248);
}
.country-details-container {
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    align-items: center;
}

.country-odetail {
    border-left: solid thin;
    border-radius: 9px;
}

img {
    border: solid black;
    border-radius: 8px;
}